<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Map View</title>
</head>
<body>
<form>
    <div>
        <label>Position X</label>
        <input type="number">
    </div>
    <div>
        <label>Position Y</label>
        <input type="number">
    </div>
    <div>
        <label>Metres</label>
        <input type="number">
    </div>
    <div>
        <label>Size</label>
        <input type="number">
    </div>
    <button>Get</button>
</form>
<section>
    <p>This project uses maps from: <a href="https://www.opendem.info/">OpenDEM</a></p>
</section>
</body>
</html>